{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Receipt for {{ customer.name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
</head>

<body>
    <header>
        <div class="receipt-head" style="text-align: center;">
            <h3>Nazz Pharmacy</h3>
            <p>No. 123 FTH Jibia Bypass, Katsina</p>
            <p style="text-align: center;">Date: {{ date|date:"F j, Y" }}</p>
        </div>
    </header>

    <div class="col-md-8 offset-md-2">

        <h4>Customer: {{ customer.name }}</h4>
        <h5>Wallet Balance: ₦ {{ customer.wallet.balance }}</h5>
        <p><strong>Receipt ID:</strong> {{ receipt.receipt_id }}</p>
        <p><strong>Sales Person:</strong> {{ user.username }}</p>


        <table class="table  table-bordered mt-3">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in receipt_data.purchased_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₦{{ item.price }}</td>
                    <td>₦{{ item.total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="3" class="text-end">Total</th>
                    <th>₦{{ receipt_data.total_price }}</th>
                </tr>
            </tbody>
        </table>


        <a href="{% url 'manage_customers' %}"><button type="submit" class="btn btn-success btn-sm"
                onclick="window.print()">Print Receipt</button></a>

    </div>
</body>

</html>