{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve Receipt</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
</head>

<body>
    {% block content %}

    <style>
        #main {
            margin-left: 10em;
        }
    </style>

    <header>
        <div class="receipt-head" style="text-align: center;">
            <h3>Nazz Pharmacy</h3>
            <p>No. 123 FTH Jibia Bypass, Katsina</p>

        </div>
    </header>


    <div id="main">


        {% if receipt %}

        <h3>Receipt Details</h3>
        <p><strong>Receipt ID:</strong> {{ receipt.receipt_id }}</p>
        <p><strong>Customer:</strong>
            {% if receipt.customer %}
            {{ receipt.customer.name }}
            {% else %}
            Anonymous
            {% endif %}
        </p>
        <p><strong>Total Amount:</strong> ₦{{ receipt.total_amount }}</p>
        <p><strong>Date:</strong> {{ receipt.date }}</p>


        <div class="col-md-10 offset-md-0">
            <table class="table table-hover table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sales_items_with_subtotal %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>₦{{ item.price }}</td>
                        <td>₦{{ item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="3" class="text-end">Total</th>
                        <th>₦{{ receipt.total_amount }}</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{% url 'manage_customers' %}"><button class="btn btn-success btn-sm ml-2"
                onclick="window.print()">Reprint
                Receipt</button></a>

        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm btn-outline-dark">Back</a>
        {% endif %}
    </div>


    {% endblock %}
</body>

</html>