{% for item in items %}
<tr>
    <td><a class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#editItemModal"
            hx-get="{% url 'edit_item' item.id %}" hx-target="#editItemModal .modal-content">Edit</a>

        <a href="{% url 'delete_item' item.id %}"
            onclick="return confirm('Are you sure you want to delete {{item.name}} from Store?')"
            class="btn btn-sm btn-danger">X</a>
    </td>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.stock_quantity}}</td>
    <td>{{item.exp_date}}</td>
</tr>
{% empty %}
<tr>
    <td colspan="6" style="text-align: center;">No item found matching "{{ request.GET.search }}"</td>
</tr>
{% endfor %}