<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'store' %}">Retail Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'cart' %}">Dispense Retail</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Management
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'reports' %}">Reports</a></li>
                        <li><a class="dropdown-item" href="{% url 'manage_customers' %}">Manage Customers</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Page</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'wholesale_page' %}">Wholesale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="{% url 'edit_user_profile' %}"
                                hx-get="{% url 'edit_user_profile' %}" hx-target="#editUserProfileModal .modal-content"
                                data-bs-toggle="modal" data-bs-target="#editUserProfileModal">Edit Profile</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'change_user_password' %}"
                                hx-get="{% url 'change_user_password' %}"
                                hx-target="#changeUserPasswordModal .modal-content" data-bs-toggle="modal"
                                data-bs-target="#changeUserPasswordModal">Change Password</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Login</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>

    <!-- Media Queries for Navbar -->
    <style>
        .navbar {
            position: sticky;
            top: 0;
            z-index: 1020;
            /* Ensure it stays above other elements */
        }


        /* For tablets and smaller devices */
        @media (max-width: 768px) {
            .navbar {
                position: sticky;
                top: 0;
                z-index: 1020;
                /* Ensure it stays above other elements */
            }

            .navbar-nav {
                flex-direction: column;
            }

            .navbar-collapse {
                text-align: center;
            }

            .navbar-brand {
                font-size: 1.2rem;
            }


        }

        /* For mobile devices */
        @media (max-width: 480px) {
            .navbar {
                position: sticky;
                top: 0;
                z-index: 1020;
                /* Ensure it stays above other elements */
            }

            .navbar-brand {
                font-size: 1rem;
            }

            .navbar-nav .nav-link {
                font-size: 0.9rem;
            }

            .navbar-collapse {
                text-align: left;
            }

            .dropdown-menu {
                font-size: 0.8rem;
            }

            .navbar-toggler {
                margin-right: 0;
            }
        }
    </style>
</nav>

<!-- Edit User Profile Modal -->
<div class="modal fade" id="editUserProfileModal" tabindex="-1" aria-labelledby="editUserProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- Change User Password Modal -->
<div class="modal fade" id="changeUserPasswordModal" tabindex="-1" aria-labelledby="changeUserPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>